In [85]:
import pandas as pd

In [69]:
#path = "http://localhost:8888/edit/Project_Spam_Or_Not/spam.csv"
df = pd.read_csv('spam.csv', encoding="ISO-8859-1")

In [70]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [71]:
df.shape

(5572, 5)

In [72]:
df = df.where((pd.notnull(df)),'')

In [80]:
df.loc[:,['v1','v2']]

     v1                                                 v2
0     1  Go until jurong point, crazy.. Available only ...
1     1                      Ok lar... Joking wif u oni...
2     0  Free entry in 2 a wkly comp to win FA Cup fina...
3     1  U dun say so early hor... U c already then say...
4     1  Nah I don't think he goes to usf, he lives aro...
...  ..                                                ...
5567  0  This is the 2nd time we have tried 2 contact u...
5568  1              Will Ì_ b going to esplanade fr home?
5569  1  Pity, * was in mood for that. So...any other s...
5570  1  The guy did some bitching but I acted like i'd...
5571  1                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [81]:
df.head()

  v1                                                 v2
0  1  Go until jurong point, crazy.. Available only ...
1  1                      Ok lar... Joking wif u oni...
2  0  Free entry in 2 a wkly comp to win FA Cup fina...
3  1  U dun say so early hor... U c already then say...
4  1  Nah I don't think he goes to usf, he lives aro...

In [82]:
df.shape

(5572, 2)

In [83]:
#ham-1
#spam-0
df.loc[df['v1']=='ham','v1'] = 1
df.loc[df['v1']=='spam','v1'] = 0

In [99]:
x = df['v2']
y = df['v1']
print(x)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: v2, Length: 5572, dtype: object

In [87]:
#train_test_data

In [88]:
from sklearn.model_selection import train_test_split

In [90]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=3)

print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(4457,)
(1115,)
(4457,)
(1115,)

In [91]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [111]:
tfv = TfidfVectorizer(min_df=1, stop_words='english', lowercase='True')
x_train_tfv = tfv.fit_transform(x_train)
x_test_tfv = tfv.transform(x_test)

print(x_train_tfv)

y_train = y_train.astype('int')
y_test = y_test.astype('int')

  (0, 741)	0.3219352588930141
  (0, 3979)	0.2410582143632299
  (0, 4296)	0.3891385935794867
  (0, 6599)	0.20296878731699391
  (0, 3386)	0.3219352588930141
  (0, 2122)	0.38613577623520473
  (0, 3136)	0.440116181574609
  (0, 3262)	0.25877035357606315
  (0, 3380)	0.21807195185332803
  (0, 4513)	0.2909649098524696
  (1, 4061)	0.380431198316959
  (1, 6872)	0.4306015894277422
  (1, 6417)	0.4769136859540388
  (1, 6442)	0.5652509076654626
  (1, 7443)	0.35056971070320353
  (2, 933)	0.4917598465723273
  (2, 2109)	0.42972812260098503
  (2, 3917)	0.40088501350982736
  (2, 2226)	0.413484525934624
  (2, 5825)	0.4917598465723273
  (3, 6140)	0.4903863168693604
  (3, 1599)	0.5927091854194291
  (3, 1842)	0.3708680641487708
  (3, 7453)	0.5202633571003087
  (4, 2531)	0.7419319091456392
  :	:
  (4452, 2122)	0.31002103760284144
  (4453, 999)	0.6760129013031282
  (4453, 7273)	0.5787739591782677
  (4453, 1762)	0.45610005640082985
  (4454, 3029)	0.42618909997886
  (4454, 2086)	0.3809693742808703
  (4454, 3088)	0.34475593009514444
  (4454, 2001)	0.4166919007849217
  (4454, 1049)	0.31932060116006045
  (4454, 7346)	0.31166263834107377
  (4454, 5370)	0.42618909997886
  (4455, 1148)	0.38998123077430413
  (4455, 6433)	0.38998123077430413
  (4455, 6361)	0.25697343671652706
  (4455, 2764)	0.3226323745940581
  (4455, 7358)	0.2915949626395065
  (4455, 7407)	0.3028481995557642
  (4455, 2108)	0.3136468384526087
  (4455, 4251)	0.30616657078392584
  (4455, 3763)	0.16807158405536876
  (4455, 4773)	0.35860460546223444
  (4456, 6117)	0.5304350313291551
  (4456, 6133)	0.5304350313291551
  (4456, 1386)	0.4460036316446079
  (4456, 4557)	0.48821933148688146

In [112]:
from sklearn.linear_model import LogisticRegression

In [113]:
lr = LogisticRegression()
lr.fit(x_train_tfv,y_train)

LogisticRegression()

In [114]:
lr.score(x_test_tfv,y_test)

0.9623318385650225

In [119]:
from sklearn.metrics import accuracy_score

In [123]:
pred_train = lr.predict(x_train_tfv)
as_train = accuracy_score(pred_train,y_train)

as_train

0.9661207089970832

In [124]:
pred_test = lr.predict(x_test_tfv)
as_test = accuracy_score(pred_test,y_test)

as_test

0.9623318385650225

In [125]:
input_mails = ["I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times"]

input_mails = tfv.transform(input_mails)
pred = lr.predict(input_mails)

if pred[0]==0:
    print('This is Spam Mail')
else:
    print('This is Ham Mail')

This is Ham Mail